{% unless pageclass contains "home" %}
	{% if page.breadcrumb == true }
				{% for item in item.breadcrumb %}<li><a href="{{ link }}">{{ title }}</a></li>{% endfor %}
	{% else %}
<li>
	<a href="{{ site.wetSiteRoot }}/index-{{ lang }}.html">{{ site.data.i18n[tmpl-home.lang] | escape }}</a>
</li>
		{%if page.src contains "/demos/index" %}
		{% else %}
			{%if page.src contains "/docs/" %}
				{%if page.src contains "/versions/" %}
					{% if page.src contains "/index" %}
					{% else %}
<li>
	<a href="{{ site.wetSiteRoot }}/docs/versions/index-{{ lang }}.html">{{ site.data.i18n[tmpl-version-history.lang] | escape }}</a>
</li>
					{% endif %}
				{% else %}
					{%if page.src contains "/docs/index" %}
					{% else %}
<li>
	<a href="{{ site.wetSiteRoot }}/docs/index-{{ lang }}.html">{{ site.data.i18n[tmpl-documentation.lang] | escape }}</a>
</li>
						{% if page.categoryfile == true %}
<li>
	<a href="{{ site.wetSiteRoot }}/docs/ref/{{ page.categoryfile }}-{{ lang }}.html">{{ page.category }}</a>
</li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
<li>
	<a href="{{ site.wetSiteRoot }}/demos/index-{{ lang }}.html">{{ site.data.i18n[tmpl-work-examples.lang] | escape }}</a>
</li>
				{% if breadcrumb3 == true %}
					{% if tag contains "theme-wet-boew"}}
<li>
	<a href="{{ site.wetSiteRoot }}/theme/index-{{ lang }}.html">{{ breadcrumb3-title }}</a>
</li>
					{% else %}
<li>
	<a href="{{ site.wetSiteRoot }}/demos/{{ tag }}/index-{{ lang }}.html">{{ breadcrumb3-title }}</a>
</li>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
<li>{{ title }}</li>
	{% endif %}
{% endunless %}
