<section class="lnkbx">
	<h2>
	{% if page.lang == "fr" %}
	Contactez-nous
	{% else %}
	Contact us
	{% endif %}
	</h2>
	<ul>
		<li><a href="#">{% if page.lang == "fr" %}[Lien du numéro de contact]{% else %}[Contact number link]{% endif %}</a></li>
		<li><a href="#">{% if page.lang == "fr" %}[Lien du numéro de contact]{% else %}[Contact number link]{% endif %}</a></li>
		<li><a href="#">{% if page.lang == "fr" %}[Lien du numéro de contact]{% else %}[Contact number link]{% endif %}</a></li>
	</ul>
</section>
