<section class="gc-prtts">
	<h2>{{ i18n.de-title[lang] | escape }}</h2>
	<div class="row">
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>{{ i18n.de-title-link[lang] | escape }}</figcaption>
					<img src="{{ assets }}/img/{{ page.img-dept-feat1 }}" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>{{ i18n.de-description[lang] | escape }}</p>
				</figure>
			</a>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>{{ i18n.de-title-link[lang] | escape }}</figcaption>
					<img src="{{ assets }}/img/{{ page.img-dept-feat2 }}" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>{{ i18n.de-description[lang] | escape }}</p>
				</figure>
			</a>
		</div>
		<div class="col-lg-4 col-md-6 mrgn-bttm-md">
			<a href="#">
				<figure>
					<figcaption>{{ i18n.de-title-link[lang] | escape }}</figcaption>
					<img src="{{ assets }}/img/{{ page.img-dept-feat3 }}" alt="" class="img-responsive thumbnail mrgn-bttm-sm"/>
					<p>{{ i18n.de-description[lang] | escape }}</p>
				</figure>
			</a>
		</div>
	</div>
</section>
