<ul class="list-unstyled colcount-sm-2 colcount-md-3">
	<li><a href="{{ page.i18n.tmpl-menu-footer-about-contact-link[page.lang] }}">{{ page.i18n.tmpl-menu-footer-about-contact-text[page.lang] }}</a></li>
	<li><a href="{{ page.i18n.tmpl-menu-footer-about-departments-link[page.lang] }}">{{ page.i18n.tmpl-menu-footer-about-departments-text[page.lang] }}</a></li>
	<li><a href="{{ page.i18n.tmpl-menu-footer-about-military-link[page.lang] }}">{{ page.i18n.tmpl-menu-footer-about-military-text[page.lang] }}</a></li>
	<li><a href="{{ page.i18n.tmpl-menu-footer-about-news-link[page.lang] }}">{{ page.i18n.tmpl-menu-footer-about-news-text[page.lang] }}</a></li>
	<li><a href="{{ page.i18n.tmpl-menu-footer-about-treaties-link[page.lang] }}">{{ page.i18n.tmpl-menu-footer-about-treaties-text[page.lang] }}</a></li>
	<li><a href="{{ page.i18n.tmpl-menu-footer-about-reporting-link[page.lang] }}">{{ page.i18n.tmpl-menu-footer-about-reporting-text[page.lang] }}</a></li>
	<li><a href="{{ page.i18n.tmpl-menu-footer-about-pm-link[page.lang] }}">{{ page.i18n.tmpl-menu-footer-about-pm-text[page.lang] }}</a></li>
	<li><a href="{{ page.i18n.tmpl-menu-footer-about-government-link[page.lang] }}">{{ page.i18n.tmpl-menu-footer-about-government-text[page.lang] }}</a></li>
	<li><a href="{{ page.i18n.tmpl-menu-footer-about-open-link[page.lang] }}">{{ page.i18n.tmpl-menu-footer-about-open-text[page.lang] }}</a></li>
</ul>
