<div class="brand">
	<div class="container">
		<div class="row ">
			<nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
				<h2 class="wb-inv">{{ i18n.tmpl-about-site[page.lang] | escape }}</h2>
				<ul>
					<li><a href="{{ i18n.menu-footer-communications-social-link[page.lang] | escape }}">{{ i18n.menu-footer-communications-social-text[page.lang] | escape }}</a></li>
					<li><a href="{{ i18n.menu-footer-communications-mobile-link[page.lang] | escape }}">{{ i18n.menu-footer-communications-mobile-text[page.lang] | escape }}</a></li>
					<li><a href="{{ i18n.menu-footer-communications-about-link[page.lang] | escape }}">{{ i18n.menu-footer-communications-about-text[page.lang] | escape }}</a></li>
					<li><a href="{{ i18n.menu-footer-communications-terms-link[page.lang] | escape }}">{{ i18n.menu-footer-communications-terms-text[page.lang] | escape }}</a></li>
					<li><a href="{{ i18n.menu-footer-communications-privacy-link[page.lang] | escape }}">{{ i18n.menu-footer-communications-privacy-text[page.lang] | escape }}</a></li>
				</ul>
			</nav>
			<div class="col-xs-6 visible-sm visible-xs tofpg">
				<a href="#wb-cont">{{ i18n.tmpl-toppage[page.lang] | escape }} <span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-xs-6 col-md-3 col-lg-2 text-right">
				<img src="{{ site.assets }}/{{ site.theme-name }}/assets/wmms-blk.svg" alt="{{ i18n.tmpl-gc-wmms[page.lang] | escape }}" />
			</div>
		</div>
	</div>
</div>
