<ul class="list-unstyled colcount-sm-2 colcount-md-3">
	<li><a href="{{ i18n.menu-footer-about-contact-link[lang] | escape }}">{{ i18n.menu-footer-about-contact-text[lang] | escape }}</a></li>
	<li><a href="{{ i18n.menu-footer-about-departments-link[lang] | escape }}">{{ i18n.menu-footer-about-departments-text[lang] | escape }}</a></li>
	<li><a href="{{ i18n.menu-footer-about-military-link[lang] | escape }}">{{ i18n.menu-footer-about-military-text[lang] | escape }}</a></li>
	<li><a href="{{ i18n.menu-footer-about-news-link[lang] | escape }}">{{ i18n.menu-footer-about-news-text[lang] | escape }}</a></li>
	<li><a href="{{ i18n.menu-footer-about-treaties-link[lang] | escape }}">{{ i18n.menu-footer-about-treaties-text[lang] | escape }}</a></li>
	<li><a href="{{ i18n.menu-footer-about-reporting-link[lang] | escape }}">{{ i18n.menu-footer-about-reporting-text[lang] | escape }}</a></li>
	<li><a href="{{ i18n.menu-footer-about-pm-link[lang] | escape }}">{{ i18n.menu-footer-about-pm-text[lang] | escape }}</a></li>
	<li><a href="{{ i18n.menu-footer-about-government-link[lang] | escape }}">{{ i18n.menu-footer-about-government-text[lang] | escape }}</a></li>
	<li><a href="{{ i18n.menu-footer-about-open-link[lang] | escape }}">{{ i18n.menu-footer-about-open-text[lang] | escape }}</a></li>
</ul>
