<link href="{{ site.assets }}/{{ site.theme-name }}/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ site.assets }}/{{ site.theme-name }}css/theme.css" />
    {% if page.css %}{% for entry in page.css %}<link rel="stylesheet" href="{{ entry.url }}"{% if entry.integrity %} integrity="{{ entry.integrity }}"{% endif %}{% if entry.x-origin %} crossorigin="{{ entry.x-origin }}"{% endif %} />{% endfor %}{% endif %}

    <noscript><link rel="stylesheet" href="{{ site.assets }}/{{ site.theme-name }}/wet-boew/css/noscript.css" /></noscript>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "{{ page.title }}",
            "url": "{{ page.permalink }}",
            "author": {
               "@type": "GovernmentOrganization",
               "name": "{{ site.authorName }}",
               "url": "{{ site.authorUrl }}",
               "parentOrganization": {
                  "@type": "GovernmentOrganization",
                  "name": "Government of Canada",
                  "url": "http://www.canada.ca/"
               }
            },
            "description": "{% if page.description[lang] %}{{ page.description[lang] }}{% else %}{{ i18n.site-description[lang] }} {% endif %}"
        }
    </script>