	<section id="wb-lng" class="col-xs-3 col-sm-12 text-right">
				<h2 class="wb-inv">{{ page.i18n.tmpl-lang-select[page.lang] }}</h2>
				<ul class="list-inline mrgn-bttm-0">{% if page.lang == "en" %}
					<li>
						<a lang="fr" hreflang="fr" href="/fr/{{ page.altLangPrefix }}.html">
							<span class="hidden-xs">{{ page.i18n.tmpl-lang-native["fr"] }}</span>
							<abbr title="{{ page.i18n.tmpl-lang-native["fr"] }}" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
						</a>
					</li>{% endif %}
					{% if page.lang == "fr" %}
					<li>
						<a lang="en" hreflang="en" href="/en/{{ page.altLangPrefix }}.html">
							<span class="hidden-xs">{{ page.i18n.tmpl-lang-native["en"] }}</span>
							<abbr title="{{ page.i18n.tmpl-lang-native["en"] }}" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">en</abbr>
						</a>
					</li>{% endif %}
				</ul>
			</section>
