<section id="wb-so">
	<h2 class="wb-inv">{{ site.data.i18n[tmpl-sign-on-info.lang] }}</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	{% if signed == "off" %}
				<button class="btn btn-default" type="button">{{ site.data.i18n[tmpl-register.lang] }}</button>
				<button class="btn btn-primary" type="button">{{ site.data.i18n[tmpl-signin.lang] }}</button>
	{% else %}
				<span class="mrgn-rght-md">{{ site.data.i18n[tmpl-signed-in-as.lang] }} <span class="wb-so-uname">John Doe</span></span>
				<button class="btn btn-default" type="button">{{ site.data.i18n[tmpl-accountsettings.lang] }}</button>
				<button class="btn btn-primary" type="button">{{ site.data.i18n[tmpl-signout.lang] }}</button>
	{% endif %}
			</div>
		</div>
	</div>
</section>
