
        <nav class="gcweb-menu" typeof="SiteNavigationElement">
          <div class="container">
            <h2 class="wb-inv">Menu</h2>
            <button type="button" aria-haspopup="true" aria-expanded="false">
              {% if lang == "en"%}<span class="wb-inv">Main </span>Menu{% else %}Menu<span class="wb-inv"> principal</span>{% endif %}
              <span class="expicon glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul role="menu" aria-orientation="vertical" data-ajax-replace="{% if page.altMenu %}{{ page.altMenu }}{% else %}{% if site.menuRoot %}{{ site.menuRoot }}{% else %}{{ assets }}{% endif %}/ajax/sitemenu-v5{% endif %}-{{ lang }}.html">
              {% for entry in site.data.i18n-menu %}<li role="presentation"><a role="menuitem" href="{{ entry[0] }}">{{ lang }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </nav>