{% unless pageclass == compare="home" %}
	{% if page.breadcrumb }
				{% for item in item.breadcrumb %}<li><a href="{{ link }}">{{ title }}</a></li>{% endfor %}

	{% else %}
<li>
	<a href="{{ site.wetSiteRoot }}/index-{{ language }}.html">{{ i18n "tmpl-home" | escape }}</a>
</li>
		{%if page.src contains "/demos/index" %}
		{% else %}
			{%if page.src contains "/docs/" %}
				{%if page.src contains "/versions/" %}
					{% if page.src contains "/index" %}
					{% else %}
<li>
	<a href="{{ site.wetSiteRoot }}/docs/versions/index-{{ language }}.html">{{ i18n "tmpl-version-history" | escape }}</a>
</li>
					{% endif %}
				{% else %}
					{%if page.src contains "/docs/index" %}
					{% else %}
<li>
	<a href="{{ site.wetSiteRoot }}/docs/index-{{ language }}.html">{{ i18n "tmpl-documentation" | escape }}</a>
</li>
						{% if page.categoryfile %}
<li>
	<a href="{{ site.wetSiteRoot }}/docs/ref/{{ page.categoryfile }}-{{ language }}.html">{{ page.category }}</a>
</li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
<li>
	<a href="{{ site.wetSiteRoot }}/demos/index-{{ language }}.html">{{ i18n "tmpl-work-examples" | escape }}</a>
</li>
				{% if breadcrumb3 %}
					{% if tag contains "theme-wet-boew"}}
<li>
	<a href="{{ site.wetSiteRoot }}/theme/index-{{ language }}.html">{{ breadcrumb3-title }}</a>
</li>
					{% else %}
<li>
	<a href="{{ site.wetSiteRoot }}/demos/{{ tag }}/index-{{ language }}.html">{{ breadcrumb3-title }}</a>
</li>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
<li>{{ title }}</li>
	{% endif %}
{% endunless %}
