<h3>Consultations</h3>
<ul>
	<li><a href="#">[Consultation 1]</a></li>
	<li><a href="#">[Consultation 2 {% if page.language == "fr" %}avec un long titre{% else %}with a long heading{% endif %}]</a></li>
	<li><a href="#">[Consultation 3]</a></li>
	<li><a href="#">[Consultation 4 {% if page.language == "fr" %}avec un long titre{% else %}with a long heading{% endif %}]</a></li>
</ul>
<p><a href="#">{% if page.language == "fr" %}Toutes les consultations connexes{% else %}All related consultations{% endif %}</a></p>
