<div class="pagedetails
{% if page.noMainContainer == true %} container{% endif %}
">
	<div class="row">
		<div class="col-sm-6 col-md-5 col-lg-4">
			<details class="brdr-0">
				<summary class="btn btn-default text-center">{{ site.data.i18n[tmpl-feedback.lang] }}</summary>
				<div class="well row">
					{% include report-problem %}
				</div>
			</details>
		</div>
		{% if page.share == "true" %}
		<div class="wb-share col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4 col-lg-offset-5" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
		{% endif %}
	</div>
	<dl id="wb-dtmd">
		<dt>{{ site.data.i18n[tmpl-date-mod.lang] }}{{ site.data.i18n[space.lang] }}</dt>
		<dd><time property="dateModified">{{ page.dateModified }}</time></dd>
	</dl>
</div>
