<section id="wb-lng" class="text-right">
	<h2 class="wb-inv">{{ site.data.i18n[tmpl-lang-select.lang] }}</h2>
	<ul class="list-inline margin-bottom-none">
	{% if lang != "fr" %}
		<li><a lang="fr" hreflang="fr" href="{{ page.altLangPrefix }}-fr.html">{{ site.data.i18n[lang-native.lang] language="fr" }}</a></li>
	{% endif %}
	{% if lang != "en" %}
		<li><a lang="en" hreflang="en" href="{{ page.altLangPrefix }}-en.html">{{ site.data.i18n[lang-native.lang] language="en" }}</a></li>
	{% endif %}
	</ul>
</section>
