<!DOCTYPE html>
{% assign lang = "page.lang" %}
<html class="no-js" lang="{{ page.lang | default: 'en' }}-CA" dir="{{ site.data.i18n[lang-dir.lang] }}">
	<head>
		<meta charset="utf-8" />
		{% include license %}
		<title>{{ pagetitle }}</title> 
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		{% include metadata %} 
		{% include headresources %} 
	</head>
	<body {% if pageclass == true %}class="{{ pageclass }}" {% endif %}vocab="http://schema.org/" typeof="WebPage">
		{% if page.pageType == "archived" %}
			{% include archive } 
		{% endif %}
		{% include skiplinks }
		{% include header }
		{% include promotion %}
		{% if page.secondarymenu == true %}
		<div class="container">
			<div class="row">
				<main property="mainContentOfPage" class="col-md-9 col-md-push-3" typeof="WebPageElement">
		{% else %}
				<main property="mainContentOfPage" class="{% unless page.noMainContainer %}container{% endunless %}
				{% if page.pageType == 'institution' %} gc-instttn{% endif %}
				{% if page.pageType == 'organization' %} gc-orgnztn {% endif %}
				{% if page.pageType == 'theme' %} gc-theme {% endif %}
				{% if page.pageType == 'news' %} gc-news {% endif %}
				{% if page.pageType == 'advance service' %} gc-advnc-srvc{% endif %}" typeof="WebPageElement">
		{% endif %}
		{% unless page.noContentTitle %}
			{% if page.pageclass != "page-type-nav" %}
					<h1 property="name" id="wb-cont">{{ title }}</h1>
			{% endif %}
		{% endunless %}
					{% include contentbuttons %}
					{% include body %}
		{% if page.deptfeature == true %}
			{% include deptfeatures %}
		{% endif %}
		{%if page.dateModified %}
			{% include datemodified %}
		{% endif %}
		</main>
		{% if page.secondarymenu == true %}
				<nav class="wb-sec col-md-3  col-md-pull-9" typeof="SiteNavigationElement" id="wb-sec" role="navigation">
					<h2 id="wb-sec-h" class="wb-inv">{{ site.data.i18n[tmpl-section-menu.lang] }}</h2>
					{% include secondarymenu %}
				</nav>
			</div>
		</div>
		{% endif %}
		{% if page.armslength == true %}
			{% include armslength-footer %}}
		{% endif %}
		{% if footer == false %}
			{% include footer %}
		{% endif %}
		{% include footerresources %} 
	</body>
</html>