<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{ lang }}" dir="{{ site.data.i18n[lang-dir.lang] | escape }}"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ lang }}" dir="{{ site.data.i18n[lang-dir.lang] | escape }}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{ title }}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="robots" content="noindex, nofollow, noarchive" />
		{% include servermessageresources %}
	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<header role="banner" id="wb-bnr" class="container">
			<div class="row">
				<div class="col-sm-6">
					<img id="gcwu-sig" src="{{ assets }}/../{{ site.theme }}/assets/sig-blk-{{ lang }}.svg" alt="{{ site.data.i18n[tmpl-gc-sig.lang] | escape }} / {% if page.language=en %}{{ i18n "tmpl-gc-sig" language='fr' | escape }}{% else %}{{ i18n "tmpl-gc-sig" language='en' | escape }}{{% endif %}" />
				</div>
				<div class="col-sm-6">
					<img id="wmms" src="{{ assets }}/../{{ site.theme }}/assets/wmms-blk.svg" alt="{{ site.data.i18n[tmpl-gc-wmms.lang] | escape }}" />
				</div>
			</div>
		</header>
		<main role="main" property="mainContentOfPage" typeof="WebPageElement" class="container">
			<div class="row mrgn-tp-lg">
				{% include body %}
			</div>
		</main>
		{% include footerresources %}
	</body>
</html>